.grid{
    background-color: black;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 610px;
    margin:auto;
    width: 610px;

}
.grid div{
    background-color: white;
    height: 200px;
    margin-bottom: 5px;
    width: 200px;

}
.playerX{
background-image: url("x.png");
}
.playerO{
background-image: url("o.png");
}

h1,h3{
    font-size: 50px;
    text-align: center;
}
h3{
    font-size: 25px;
}